<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.0-rc.1/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1200px;height:800px;"></div>
    <script type="text/javascript">
       $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            $.ajax({
                url:'/getdata',
                success:function (data) {
                    json_data=JSON.parse(data)
                    console.info(json_data['country'])
                    console.info(json_data['date'])
                    console.info(json_data['case'])

                    // 指定图表的配置项和数据
                    var option = {
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: json_data['country'],
                                left: 350
                            },
                            xAxis: {
                                type: 'category',
                                data: json_data['date']
                            },
                            yAxis: {
                                type: 'value'
                            },
                            dataZoom: [{
                                show: true,
                                height: 30,
                                xAxisIndex: [0],
                                bottom: 30,

                                "start": 10,
                                "end": 80,
                                handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
                                handleSize: '110%',
                                handleStyle: {
                                    color: "#99CCCC",
                                },
                                textStyle:{
                                    color:"rgba(204,187,225,0.5)",
                                },
                                fillerColor:"rgba(20,45,60,0.2)",
                                borderColor: "rgba(204,187,225,0.5)",

                            }, {
                                type: "inside",
                                show: true,
                                height: 15,
                                start: 1,
                                end: 35
                            }],
                            series: [{
                                name: json_data['country'][0],
                                type: 'line',
                                symbolSize: 10,
                                symbol: 'circle',
                                data: json_data['case'][0],
                                itemStyle: {
                                    normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        lineStyle: {        // 系列级个性化折线样式
                                            width: 2,
                                            type: 'solid',

                                        }
                                    }

                                },


                            },
                            {
                                name: json_data['country'][1],
                                type: 'line',
                                symbolSize: 10,
                                symbol: 'circle',
                                data: json_data['case'][1],
                                itemStyle: {
                                    normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        lineStyle: {        // 系列级个性化折线样式
                                            width: 2,
                                            type: 'solid',

                                        }
                                    }

                                },

                            },
                            {
                                name: json_data['country'][2],
                                type: 'line',
                                symbolSize: 10,
                                symbol: 'circle',
                                data: json_data['case'][2],
                                itemStyle: {
                                    normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        lineStyle: {        // 系列级个性化折线样式
                                            width: 2,
                                            type: 'solid',

                                        }
                                    }

                                },
                                markPoint: {
                                    label: {
                                        normal: {
                                            textStyle: {
                                                color: '#fff'
                                            }
                                        }
                                    },
                                    data: [{
                                        type: 'max',
                                        name: '最大值',

                                    }, {
                                        type: 'min',
                                        name: '最小值'
                                    }]
                                },
                            },
                            {
                                name: json_data['country'][3],
                                type: 'line',
                                symbolSize: 10,
                                symbol: 'circle',
                                data: json_data['case'][3],
                                itemStyle: {
                                    normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        lineStyle: {        // 系列级个性化折线样式
                                            width: 2,
                                            type: 'solid',

                                        }
                                    }

                                }
                            },
                            {
                                name: json_data['country'][4],
                                type: 'line',
                                symbolSize: 10,
                                symbol: 'circle',
                                data: json_data['case'][4],
                                itemStyle: {
                                    normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        lineStyle: {        // 系列级个性化折线样式
                                            width: 2,
                                            type: 'solid',

                                        }
                                    }

                                },
                                markPoint: {
                                    label: {
                                        normal: {
                                            textStyle: {
                                                color: '#fff'
                                            }
                                        }
                                    },
                                    data: [{
                                        type: 'max',
                                        name: '最大值',

                                    }, {
                                        type: 'min',
                                        name: '最小值'
                                    }]
                                },
                            },
                            {
                                name: json_data['country'][5],
                                type: 'line',
                                symbolSize: 10,
                                symbol: 'circle',
                                data: json_data['case'][5],
                                itemStyle: {
                                    normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        lineStyle: {        // 系列级个性化折线样式
                                            width: 2,
                                            type: 'solid',

                                        }
                                    }

                                },

                            }]
                        };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                }
            })
        })
    </script>
</body>
